mat-error.small {
  font-size: 75%;
}

.titulo1  {
  display: flex;
    justify-content: center;
}
.botaoSalvar {
  color: #fff;
  width: 220px;
  background-color:#134685;
  box-shadow: rgb(33 96 172) 0px 8px 8px;
  transition: all .2s ease-in-out;
  display: flex;
    justify-content: center;
}

.bnt-entrar:hover{
  background-color:#0d2e57;
}
mat-radio-group {
  padding-top: 1rem;
}

mat-card {
  margin: 1rem auto;
  max-width: 800px;
}

.questionario {
  padding: 1rem;
  font-size: 20px;
}
.info-card{
margin-top: 280px;
}
