<div>
  <button
    mat-button
    matTooltip="Retornar para lista"
    routerLink="/"
    tag="button"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button mat-button (click)="imprimir()"><mat-icon>print</mat-icon></button>
</div>

<div class="pagina" fxLayout="row" fxLayoutAlign="center">
  <div class="carteirinha">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="titulo">
      <img
        class="img-responsive"
        src="assets/images/brasao-sp.png"
        height="50px"
      />
      <h2>CAMPANHA CONTRA A COVID-19</h2>
      <img
        class="img-responsive"
        src="assets/images/sp-branco.png"
        height="50px"
      />
    </div>

    <div class="subtitulo verde" fxLayout="column" fxLayoutAlign=" end">
      <b>#Vacinajá</b>
    </div>

    <div class="conteudo" fxLayout="row wrap">
      <span fxFlex="grow" class="nome">
        <b>Nome:</b> {{ usuario?.nome + " " + usuario?.sobrenome }}
      </span>

      <div class="coluna1" fxLayout="column" fxFlex="50">
        <span class="verde">
          <b>1ª Dose</b>
        </span>

        <span> <b>Unidade:</b> {{ usuario?.unidade }} </span>

        <span>
          <b>Data:</b> {{ usuario?.dataVacinacao | date: "dd/MM/yyyy" }}
        </span>

        <span> <b>Lote:</b> {{ usuario?.lote }} </span>

        <span> <b>Fabricante:</b> {{ usuario?.fabricante }} </span>

        <span> <b>Vacinador:</b> {{ usuario?.vacinador }} </span>

        <span> <b>Reg. Prof.:</b> {{ usuario?.regProf }} </span>
      </div>

      <div class="coluna2" fxLayout="column" fxFlex="50">
        <span class="verde">
          <b>2ª Dose</b>
        </span>

        <span> <b>Unidade:</b> {{ usuario?.unidade }} </span>

        <span>
          <b>Data:</b> {{ usuario?.dataVacinacao2 | date: "dd/MM/yyyy" }}
        </span>

        <span> <b>Lote:</b> {{ usuario?.lote2 }} </span>

        <span> <b>Fabricante:</b> {{ usuario?.fabricante }} </span>

        <span> <b>Vacinador:</b> {{ usuario?.vacinador2 }} </span>

        <span> <b>Reg. Prof.:</b> {{ usuario?.regProf2 }} </span>
      </div>
    </div>
    <div class="rodape" fxLayout="row" fxLayoutAlign="space-between center">
      <b>Comprovante de Vacinação</b>
      <img
        class="img-responsive"
        src="assets/images/logo-vacivida.png"
        width="70px"
      />
    </div>
  </div>
</div>
