
<div
align="end"
layout="row"
  layout-align="center center"
class="menu"
>
  <button mat-button [matMenuTriggerFor]="menu" class="menu-btn">
    <mat-icon matPrefix >person</mat-icon>{{name}}
  </button>
  <mat-menu class="menu-botoes" #menu="matMenu">
    <button
    mat-menu-item
    matTooltip="Lista Vacinação"
    routerLink="/paciente/lista"
    *ngIf="isAdmin"
    >
      Lista de Vacinção
    </button>
    <button mat-menu-item matTooltip="Logout" (click)="logout()">
      Logout
    </button>
  </mat-menu>
</div>

<div  align="center" layout="row" layout-align="center center" class="formulario">
  <div
  class="parte1"
  fxLayout="row"
  fxLayoutAlign="space-between start"
  fxLayoutGap="1rem"
  >
  <mat-form-field fxFlex="30" appearance="outline" class="input">
    <mat-label>Filtrar</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Maria"
      #input
    />
  </mat-form-field>
  <a
    appearence="raised"
    mat-stroked-button
    matTooltip="Novo cadastro"
    routerLink="/usuario/cadastro"
    class="btn input"
  >
    <mat-icon>add</mat-icon> Criar Novo Usuário
  </a>
  </div>
  <div class="tabela mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let row">
          {{ row.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="login">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Login</th>
        <td mat-cell *matCellDef="let row">
          {{ row.login }}
        </td>
      </ng-container>


      <ng-container matColumnDef="tipoAcesso">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Acesso</th>
        <td mat-cell *matCellDef="let row">
          {{ row.role }}
        </td>
      </ng-container>

      <ng-container matColumnDef="botoes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row">
          <mat-menu #appMenu="matMenu">
            <ng-template matMenuContent>
              <button mat-menu-item [routerLink]="'/usuario/editar/' + row.id">
                <mat-icon>edit</mat-icon>Editar
              </button>
              <button mat-menu-item (click)="deletar(row.id)">
                <mat-icon>delete</mat-icon>Excluir
              </button>
            </ng-template>
          </mat-menu>
          <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="8">
          Não foi encontrado o itém "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Itens por página"
  ></mat-paginator>
  </div>
</div>
