mat-error.small {
  font-size: 75%;
}
.form{
  margin-top: 280px;
}
.botaoSalvar {
  margin: 20px;
  color: #fff;
  background-color:#134685;
  box-shadow: rgb(33 96 172) 0px 8px 8px;
  transition: all .2s ease-in-out;
}

.bnt-entrar:hover{
  background-color:#94a6bd;
}
mat-radio-group {
  padding-top: 1rem;
}

mat-card {
  margin: 1rem auto;
  max-width: 800px;
}

.questionario {
  padding: 1rem;
  font-size: 20px;
}
